<div class="input-group flex">
  <form action="#" method="post" class="input-group__form">
    <input
      aria-label="search"
      type="search"
      placeholder="search icon..."
      class="input input--search input-group__search"
    />
  </form>
  <button
    aria-label="search"
    type="button"
    class="btn btn--icon input-group__btn"
  >
    <i class="fa-solid fa-magnifying-glass"></i>
  </button>
</div>

<form action="#" method="post">
  <div class="input-box">
    <label for="name" class="input-box__label">name</label>
    <input
      type="text"
      name="name"
      id="name"
      class="input input--name input-box__input"
    />
  </div>
  <div class="input-box">
    <label for="code" class="input-box__label">code</label>
    <input
      type="text"
      name="code"
      id="code"
      class="input input--code input-box__input"
    />
  </div>
</form>
