<div class="modal">
  <div class="box box--modal modal-icon grid">
    <h2 class="modal__heading">house</h2>
    <div class="modal__icon">
      <i class="fa-solid fa-house"></i>
    </div>
    <div class="modal__code">
      <code class="code-box">
        <span class="code-start">&lt;i class="</span>
        <span class="code-name">fa-solid fa-house</span>
        <span class="code-end">"&gt;&lt;/i&gt;</span>
      </code>
    </div>
    <button class="btn btn--close">X</button>
  </div>
</div>
