<header class="section header container flex">
  <div class="logo">
    <a href="#" class="link logo__link"
      ><i class="fa-solid fa-font-awesome"></i
      ><span class="tablet logo__tablet">font manJon</span></a
    >
  </div>
  <div class="cdn">
    <code class="code">
      &lt;link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous" referrerpolicy="no-referrer" /&gt;
    </code>
    <button type="button" class="btn btn--block">cdn link</button>
  </div>
</header>
