<section class="section flex container filter">
  <h2 class="hide">Filter</h2>
  <button type="button" class="btn btn--text">brand</button>
  <button type="button" class="btn btn--text">simple</button>
  <button type="button" aria-label="icon" class="tablet btn btn--icon">
    <i class="fa-solid fa-table-cells-large"></i>
  </button>
  <button type="button" aria-label="icon" class="tablet btn btn--icon">
    <i class="fa-solid fa-table-cells"></i>
  </button>
  <button type="button" aria-label="icon" class="btn btn--icon">
    <i class="fa-solid fa-plus"></i>
  </button>
</section>
