<section class="search section">
  <h2 class="hide">search</h2>
  <div class="input-group flex">
    <form action="#" method="post" class="input-group__form">
      <input
        aria-label="search"
        type="search"
        placeholder="search icon..."
        class="input input--search input-group__search"
      />
    </form>
    <button
      aria-label="search"
      type="button"
      class="btn btn--icon input-group__btn"
    >
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
</section>
