<section class="section icon-container">
  <h2 class="hide">Icons</h2>
  <div class="grid grid--icon container">
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-solid fa-plus"></i></span>
      <span class="iconbox__name">plus</span>
      <code class="code"> &lt;i class="fa-solid fa-plus"&gt;&lt;/i&gt;</code>
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-brands fa-facebook"></i></span>
      <span class="iconbox__name">facebook</span>
      <code class="code">
        &lt;i class="fa-brands fa-facebook"&gt;&lt;/i&gt;</code
      >
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-solid fa-house"></i></span>
      <span class="iconbox__name">house</span>
      <code class="code"> &lt;i class="fa-solid fa-house"&gt;&lt;/i&gt;</code>
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-brands fa-twitter"></i></span>
      <span class="iconbox__name">twitter</span>
      <code class="code">
        &lt;i class="fa-brands fa-twitter"&gt;&lt;/i&gt;</code
      >
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"
        ><i class="fa-solid fa-magnifying-glass"></i
      ></span>
      <span class="iconbox__name">magnifying-glass</span>
      <code class="code">
        &lt;i class="fa-solid fa-magnifying-glass"&gt;&lt;/i&gt;</code
      >
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-brands fa-instagram"></i></span>
      <span class="iconbox__name">instagram</span>
      <code class="code">
        &lt;i class="fa-brands fa-instagram"&gt;&lt;/i&gt;</code
      >
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-solid fa-user"></i></span>
      <span class="iconbox__name">user</span>
      <code class="code"> &lt;i class="fa-solid fa-user"&gt;&lt;/i&gt;</code>
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-brands fa-tiktok"></i></span>
      <span class="iconbox__name">tiktok</span>
      <code class="code"> &lt;i class="fa-brands fa-tiktok"&gt;&lt;/i&gt;</code>
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-solid fa-check"></i></span>
      <span class="iconbox__name">check</span>
      <code class="code"> &lt;i class="fa-solid fa-check"&gt;&lt;/i&gt;</code>
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-brands fa-linkedin"></i></span>
      <span class="iconbox__name">linkedin</span>
      <code class="code">
        &lt;i class="fa-brands fa-linkedin"&gt;&lt;/i&gt;</code
      >
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-solid fa-download"></i></span>
      <span class="iconbox__name">download</span>
      <code class="code">
        &lt;i class="fa-solid fa-download"&gt;&lt;/i&gt;</code
      >
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-brands fa-github"></i></span>
      <span class="iconbox__name">github</span>
      <code class="code"> &lt;i class="fa-brands fa-github"&gt;&lt;/i&gt;</code>
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-solid fa-image"></i></span>
      <span class="iconbox__name">image</span>
      <code class="code">&lt;i class="fa-solid fa-image"&gt;&lt;/i&gt;</code>
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-brands fa-youtube"></i></span>
      <span class="iconbox__name">youtube</span>
      <code class="code">
        &lt;i class="fa-brands fa-youtube"&gt;&lt;/i&gt;</code
      >
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-solid fa-phone"></i></span>
      <span class="iconbox__name">phone</span>
      <code class="code">&lt;i class="fa-solid fa-phone"&gt;&lt;/i&gt;</code>
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-brands fa-wordpress"></i></span>
      <span class="iconbox__name">wordpres</span>
      <code class="code">
        &lt;i class="fa-brands fa-wordpress"&gt;&lt;/i&gt;</code
      >
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-solid fa-bars"></i></span>
      <span class="iconbox__name">bars</span>
      <code class="code">&lt;i class="fa-solid fa-bars"&gt;&lt;/i&gt;</code>
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-brands fa-slack"></i></span>
      <span class="iconbox__name">slack</span>
      <code class="code"> &lt;i class="fa-brands fa-slack"&gt;&lt;/i&gt;</code>
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-solid fa-envelope"></i></span>
      <span class="iconbox__name">envelope</span>
      <code class="code">&lt;i class="fa-solid fa-envelope"&gt;&lt;/i&gt;</code>
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-brands fa-figma"></i></span>
      <span class="iconbox__name">figma</span>
      <code class="code"> &lt;i class="fa-brands fa-figma"&gt;&lt;/i&gt;</code>
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-solid fa-star"></i></span>
      <span class="iconbox__name">star</span>
      <code class="code">&lt;i class="fa-solid fa-star"&gt;&lt;/i&gt;</code>
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-brands fa-apple"></i></span>
      <span class="iconbox__name">apple</span>
      <code class="code"> &lt;i class="fa-brands fa-apple"&gt;&lt;/i&gt;</code>
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-solid fa-music"></i></span>
      <span class="iconbox__name">music</span>
      <code class="code">&lt;i class="fa-solid fa-music"&gt;&lt;/i&gt;</code>
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-brands fa-google"></i></span>
      <span class="iconbox__name">google</span>
      <code class="code"> &lt;i class="fa-brands fa-google"&gt;&lt;/i&gt;</code>
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-solid fa-heart"></i></span>
      <span class="iconbox__name">heart</span>
      <code class="code">&lt;i class="fa-solid fa-heart"&gt;&lt;/i&gt;</code>
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-brands fa-docker"></i></span>
      <span class="iconbox__name">docker</span>
      <code class="code"> &lt;i class="fa-brands fa-docker"&gt;&lt;/i&gt;</code>
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-solid fa-arrow-right"></i></span>
      <span class="iconbox__name">xmark</span>
      <code class="code">&lt;i class="fa-solid fa-xmark"&gt;&lt;/i&gt;</code>
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-brands fa-windows"></i></span>
      <span class="iconbox__name">windows</span>
      <code class="code">
        &lt;i class="fa-brands fa-windows"&gt;&lt;/i&gt;</code
      >
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-solid fa-xmark"></i></span>
      <span class="iconbox__name">arrow right</span>
      <code class="code"
        >&lt;i class="fa-solid fa-arrow-right"&gt;&lt;/i&gt;</code
      >
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-brands fa-paypal"></i></span>
      <span class="iconbox__name">paypal</span>
      <code class="code"> &lt;i class="fa-brands fa-paypal"&gt;&lt;/i&gt;</code>
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-solid fa-comment"></i></span>
      <span class="iconbox__name">comment</span>
      <code class="code">&lt;i class="fa-solid fa-comment"&gt;&lt;/i&gt;</code>
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-brands fa-dribbble"></i></span>
      <span class="iconbox__name">dribbble</span>
      <code class="code">
        &lt;i class="fa-brands fa-dribbble"&gt;&lt;/i&gt;</code
      >
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-solid fa-arrow-up"></i></span>
      <span class="iconbox__name">arrow-up</span>
      <code class="code">&lt;i class="fa-solid fa-arrow-up"&gt;&lt;/i&gt;</code>
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-brands fa-dropbox"></i></span>
      <span class="iconbox__name">dropbox</span>
      <code class="code">
        &lt;i class="fa-brands fa-dropbox"&gt;&lt;/i&gt;</code
      >
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-solid fa-face-smile"></i></span>
      <span class="iconbox__name">face smile</span>
      <code class="code"
        >&lt;i class="fa-solid fa-face-smile"&gt;&lt;/i&gt;</code
      >
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-brands fa-android"></i></span>
      <span class="iconbox__name">android</span>
      <code class="code">
        &lt;i class="fa-brands fa-android"&gt;&lt;/i&gt;</code
      >
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-solid fa-paperclip"></i></span>
      <span class="iconbox__name">paperclip</span>
      <code class="code"
        >&lt;i class="fa-solid fa-paperclip"&gt;&lt;/i&gt;</code
      >
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-brands fa-codepen"></i></span>
      <span class="iconbox__name">codepen</span>
      <code class="code">
        &lt;i class="fa-brands fa-codepen"&gt;&lt;/i&gt;</code
      >
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-solid fa-file"></i></span>
      <span class="iconbox__name">file</span>
      <code class="code">&lt;i class="fa-solid fa-file"&gt;&lt;/i&gt;</code>
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-brands fa-whatsapp"></i></span>
      <span class="iconbox__name">whatsapp</span>
      <code class="code">
        &lt;i class="fa-brands fa-whatsapp"&gt;&lt;/i&gt;</code
      >
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-solid fa-bolt"></i></span>
      <span class="iconbox__name">bolt</span>
      <code class="code">&lt;i class="fa-solid fa-bolt"&gt;&lt;/i&gt;</code>
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
    <div class="iconbox box box--icon flex">
      <span class="iconbox__icon"><i class="fa-brands fa-telegram"></i></span>
      <span class="iconbox__name">telegram</span>
      <code class="code">
        &lt;i class="fa-brands fa-telegram"&gt;&lt;/i&gt;</code
      >
      <button aria-label="copy" type="button" class="btn btn--copy">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
  </div>
</section>
