<h2 class="modal-box__heading">copy</h2>
<h1 class="hide">heading</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic fugit ab deleniti
  repudiandae itaque expedita vel ut eligendi accusantium dolor.
</p>
<span class="code">
  &lt;link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
  integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
  crossorigin="anonymous" referrerpolicy="no-referrer" /&gt;
</span>
<code class="code"> &lt;i class="fa-solid fa-copy"&gt;&lt;/i&gt;</code>
<code class="code-box">
  <span class="code-start">&lt;i class="</span>
  <span class="code-name">fa-solid fa-copy</span>
  <span class="code-end">"&gt;&lt;/i&gt;</span>
</code>
